
.cardOpen{
    display: flex;
    align-items: center;
    background: var(--purple-light);
    color: var(--gray-100);
    border-radius: 5px;
    height: 2.5rem;
    transition: background-color 0.5s ease;
}
.cardClose{
    display: flex;
    align-items: center;
    background: var(--gray-600);
    border: solid 1px var(--turquoise-light);
    color: var(--gray-100);
    border-radius: 5px;
    height: 2.5rem;
    transition: background-color 0.5s ease;
}

.cardBody{

    margin: 1rem 1.625rem;
    border-radius: 8px;
    border: solid 1px var(--purple);

}
.ajustButtonCard{
    display: flex;
    align-items: center;
}

.iconOpen{
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.5rem; 
    width:2.5rem; 
    border-radius: 4px;
    background: var(--purple-light);
    border-right: 1px solid var(--purple);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.iconClose{
    display: flex;
    align-items: center;
    justify-content: center;
    height:2.5rem; 
    width:2.5rem; 
    border-radius: 4px;
    background: var(--turquoise-dark);
    border: 0.5px solid var(--turquoise-light);
    cursor: pointer;
    transition: background-color 0.5s ease;
}




.strong{
    margin-left: 2.875rem;
}

.sectionDisplay{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    transition: height 1s;
}

.sectionDisplayClosed{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    overflow: hidden;
    height: 0;
    transition: height 1s;
}


@media(min-width: 1025px){
    .cardBody{
        width: 450px;
    }
}
