.container {
  background: var(--gray-600);
  color: var(--gray-100);
  padding: 0 1.25rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  padding-bottom: 10rem;
}

.displayCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.strong01 {
  padding-top: 1.252rem;
  text-align: left;
}

.sobras {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1.125rem;
  margin-top: 2.0625rem;
  background: var(--gray-500);
  border: 1px solid var(--turquoise-light);
  border-radius: 8px;
  padding: 1rem 0;
}

.sobras > p {
  letter-spacing: 2px;
}

/*  */

@media (min-width: 1025px) {
  .container {
    padding: 0 15%;
  }
  .sobras {
    width: 100%;

    justify-content: center;
    font-size: 1.25rem;
  }
  .sobras > p {
    letter-spacing: 6px;
    padding-right: 1.5rem;
  }
  .containerReultItemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
