.container {
    padding: 2.93rem 0;
    background: var(--gray-600);
    display: flex;
    gap: 10%;
    justify-content: space-around;
    flex-direction: column;

}

@media(min-width: 1025px){
    .container{
        padding: 2.93rem 15%;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
}